In [68]:
import scipy.stats as stats
import numpy as np
import pandas as pd

In [69]:
############## 7)

In [70]:
p_200=scipy.stats.norm(177, 10).cdf(200)
p_201=scipy.stats.norm(177, 10).cdf(201)
p_210=scipy.stats.norm(177, 10).cdf(210)

In [71]:
p_200

0.9892758899783242

In [72]:
p_201

0.9918024640754038

In [73]:
p_210

0.9995165758576162

In [74]:
# From above observation we can say Probability will be in between 0.9892758899783242 and 1 for more than 200 centimeter tall

In [75]:
############# 8)

In [76]:
mpg = [21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4,33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26.0, 30.4, 15.8, 19.7, 15.0, 21.4]
hp = [110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, 180, 205, 215, 230, 66, 52, 65, 97, 150, 150, 245, 175, 66, 91, 113, 264, 175, 335, 109]

In [77]:
from scipy.stats.stats import pearsonr

In [78]:
pearson_correlation_coeff=pearsonr(mpg,hp)

In [79]:
pearson_correlation_coeff

(-0.7761683718265864, 1.7878352541210664e-07)

In [80]:
################ 9) Performing T-test

In [81]:
from scipy.stats import ttest_ind

In [82]:
class1_score = np.array([45.0, 40.0, 49.0, 52.0, 54.0, 64.0, 36.0, 41.0, 42.0, 34.0])
class2_score = np.array([75.0, 85.0, 53.0, 70.0, 72.0, 93.0, 61.0, 65.0, 65.0, 72.0])

In [83]:
print("Class1 score mean value:",np.mean(class1_score))
print("Class2 score mean value:",np.mean(class2_score))

('Class1 score mean value:', 45.7)
('Class2 score mean value:', 71.1)

In [84]:
print("Class1 score std value:",np.std(class1_score))
print("Class2 score std value:",np.std(class2_score))

('Class1 score std value:', 8.683893136145793)
('Class2 score std value:', 10.931148155614762)

In [85]:
ttest,pval = ttest_ind(class1_score,class2_score)

In [86]:
if(pval <0.05):
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

we reject null hypothesis

In [87]:
###################### 10) Performing Z-test

In [88]:
mean_national= 60
mean_class = 53
std_value= 3

In [89]:
zscore = (mean_class - mean_national)/std_value

In [90]:
zscore

-3

In [93]:
## p-value
p_value = stats.norm.cdf(zscore)

In [94]:
if(p_value <0.05):
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

we reject null hypothesis

In [95]:
################ 11) Calculating Pearson correlation coefficient

In [98]:
df = pd.read_csv("../Dataset/trees.csv")

In [99]:
df

    Girth  Height  Volume
0     8.3      70    10.3
1     8.6      65    10.3
2     8.8      63    10.2
3    10.5      72    16.4
4    10.7      81    18.8
5    10.8      83    19.7
6    11.0      66    15.6
7    11.0      75    18.2
8    11.1      80    22.6
9    11.2      75    19.9
10   11.3      79    24.2
11   11.4      76    21.0
12   11.4      76    21.4
13   11.7      69    21.3
14   12.0      75    19.1
15   12.9      74    22.2
16   12.9      85    33.8
17   13.3      86    27.4
18   13.7      71    25.7
19   13.8      64    24.9
20   14.0      78    34.5
21   14.2      80    31.7
22   14.5      74    36.3
23   16.0      72    38.3
24   16.3      77    42.6
25   17.3      81    55.4
26   17.5      82    55.7
27   17.9      80    58.3
28   18.0      80    51.5
29   18.0      80    51.0
30   20.6      87    77.0

In [100]:
df1= df[["Girth","Volume"]]

In [101]:
df1

    Girth  Volume
0     8.3    10.3
1     8.6    10.3
2     8.8    10.2
3    10.5    16.4
4    10.7    18.8
5    10.8    19.7
6    11.0    15.6
7    11.0    18.2
8    11.1    22.6
9    11.2    19.9
10   11.3    24.2
11   11.4    21.0
12   11.4    21.4
13   11.7    21.3
14   12.0    19.1
15   12.9    22.2
16   12.9    33.8
17   13.3    27.4
18   13.7    25.7
19   13.8    24.9
20   14.0    34.5
21   14.2    31.7
22   14.5    36.3
23   16.0    38.3
24   16.3    42.6
25   17.3    55.4
26   17.5    55.7
27   17.9    58.3
28   18.0    51.5
29   18.0    51.0
30   20.6    77.0

In [102]:
pearsoncorr = df1.corr(method='pearson')

In [126]:
pearsoncorr

           Girth    Volume
Girth   1.000000  0.967119
Volume  0.967119  1.000000

In [ ]:
############## 12) Performing hypothesis test

In [108]:
row,column = df1.shape

In [109]:
row

31

In [110]:
############### As value of row is 31 hence we will see r value cutoff from critical value table of pearson correlation table

In [122]:
cutoff = 0.349 #### calculated from critical value table of pearson correlation table
alpha = 0.05
value = pearsoncorr.iloc[0:1]["Volume"].values

In [125]:
if(value[0] > cutoff):
    print("We reject the null hypothesis!")
else:
    print("We accept the null hypothesis!")

We reject the null hypothesis!